<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.vocaltech.android.tutorials">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tutorials">
        <activity
            android:name=".notifications.NotificationMainActivity"
            android:exported="true"
            android:label="Notifications"/>

        <activity
            android:name=".fragments.Fragment1MainActivity"
            android:exported="true"
            android:label="Fragment 1" />

        <activity
            android:name=".fragments.Fragment2MainActivity"
            android:exported="true"
            android:label="Fragment 2" />

        <activity
            android:name=".realm.RealmMainActivity"
            android:exported="true"
            android:label="Realm" />

        <activity
            android:name=".binding.DataBindingMainActivity"
            android:exported="true"
            android:label="Data binding" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>